.Navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.Navbar li {
    /* float: left; */
    display: block;
    padding: 16px;

}